{% extends 'hospital/homebase.html/'%}
{% load static%}

{% include "hospital/navbar.html" %}

{% block content %}

<style>
    body {
        color: #aa082e;
        background-color: #b6bde7;
        font-family: "Roboto", sans-serif;
    }

    a:link {
        text-decoration: none;
    }

    .note {
        text-align: center;
        height: 80px;
        background: -webkit-linear-gradient(left, #0072ff, #9E11E5);
        color: #fff;
        font-weight: bold;
        line-height: 80px;
      }
    .form-content {
        padding: 10%;
        border: 2px solid #BE0505;
        margin-bottom: 2%;
    }

    .form-control {
        border-radius: 1.5rem;
    }
    
    .btnSubmit {
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 20%;
        cursor: pointer;
        {% comment %} background: #0062cc; {% endcomment %}
        color: #fff;
    }
</style>
  <center>
    <h1>The Patient Information</h1>
    <br></br>
    
    <div class="container ">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">

                <form method="GET" action="{% url 'view_record' %}">
                    <input type="text" name="query" value="{{ query }}">
                    <button type="submit">Search</button>
                  </form>

                <h1>Patients</h1>
                {% for patient in patients %}
                    <div>{{ patient.full_name }}</div>
                {% empty %}
                    <div>No patients found.</div>
                {% endfor %}

                <h1>Medical Records</h1>
                {% for medical_record in medical_records %}
                <div>{{ medical_record.patient.full_name }}: {{ medical_record.notes }}</div>
                {% empty %}
                <div>No medical records found.</div>
                {% endfor %}

                <h1>Treatment Plans</h1>
                {% for treatment_plan in treatment_plans %}
                <div>{{ treatment_plan.patient.full_name }}: {{ treatment_plan.treatment }}</div>
                {% empty %}
                <div>No treatment plans found.</div>
                {% endfor %}
            </div>
         </div>
    </div>

    
  </center>

{% endblock %}

{% include "hospital/footer.html" %}
